#cookie, #cookie2 {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

.hidden {
    display: none;
}

body {
    height: 100vh;
}

#bonuselement {
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
}