@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('animate.min.css');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #25d9ae;
    color: #000;
}

h1 {
    font-size: 4rem;
    margin: 10px;
}

#cookie {
    background-image: url("../assets/svg/beemo-button@2x.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 208px;
    cursor: pointer;
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    z-index: 20;
}

#battery {
    background-image: url("../assets/svg/battery.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 83px;
    position: absolute;
    top: 0;
    z-index: 20;
}

#energy {
    width: 150px;
    height: 75px;
    position: relative;
    margin: 0 auto;
    z-index: 20;
    text-align: center;
    padding: 80px;
}

.rel {
    position: relative;
}

progress {
    width: 125px;
    height: 66px;
    appearance: none;
    padding: 0;
    border: none;
    border-radius: 0;
    display: block;
    color: #44cb60;
    background-color: #c9feda;
    position: absolute;
    top: 6px;
    left: 6px;
}

progress::-webkit-progress-bar {
    background-color: #c9feda;
}

progress::-moz-progress-bar { 
  background-color: #44cb60;	
}

progress::-webkit-progress-value {
  background-color: #44cb60;
}

#counter {
    pointer-events: none;
    margin-bottom: 10px;
    font-size: 0.75rem;
    transform: translateX(-8px);
}

.hidden {
    display: none;
}

#bonuselement {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    z-index: 30;
}

.red {
    color: #fc3d70;
}

#gameover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fc3d70;
    z-index: 200;
    text-align: center;
}

#pressplay {
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50%;
    top: 442px;
    transform: translateY(-50%);
    text-align: center;
    pointer-events: none;
    z-index: 100;
    font-size: 1rem;
}

.stopwatch {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: #c9feda;
    margin-top: 10px;
}

#gameover-stopwatch {
    text-align: center;
    margin: 0 auto;
    color: #000 !important;
}

#gameover-content {
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0 auto;
}

#restart {
    padding: 30px;
    margin: 30px;
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.7);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.7);
    display: inline-block;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }