* {
    margin: 0;
    padding: 0;
}

#cookie {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

.hidden {
    display: none;
}

body {
    height: 100vh;
}

#bonuselement {
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
}

#gameover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
}

#pressplay {
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    background-color: green;
}